# 
# +==== BEGIN CatFeeder =================+
# LOGO: 
# ..............(..../\\
# ...............)..(.')
# ..............(../..)
# ...............\\(__)|
# Inspired by Joan Stark
# source https://www.asciiart.eu/
# animals/cats
# /STOP
# PROJECT: CatFeeder
# FILE: requirements.txt
# CREATION DATE: 10-10-2025
# LAST Modified: 18:54:13 11-10-2025
# DESCRIPTION: 
# This is the project in charge of making the connected cat feeder project work.
# /STOP
# COPYRIGHT: (c) Cat Feeder
# PURPOSE: This is the production requirements file.
# // AR
# +==== END CatFeeder =================+
# 
# Dependencies for the project to run
-r ./deps/requirements.backend.txt
