/* 
* +==== BEGIN CatFeeder =================+
* LOGO: 
* ..............(..../\
* ...............)..(.')
* ..............(../..)
* ...............\(__)|
* Inspired by Joan Stark
* source https://www.asciiart.eu/
* animals/cats
* /STOP
* PROJECT: CatFeeder
* FILE: noto-emoji.css
* CREATION DATE: 25-01-2026
* LAST Modified: 13:19:40 25-01-2026
* DESCRIPTION: 
* This is the project in charge of making the connected cat feeder project work.
* /STOP
* COPYRIGHT: (c) Cat Feeder
* PURPOSE: This is the file containing the emoji font.
* // AR
* +==== END CatFeeder =================+
*/
/* Noto Emoji Font Faces */
@font-face {
    font-family: 'Noto Emoji';
    src: url('static/NotoEmoji-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('static/NotoEmoji-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('static/NotoEmoji-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('static/NotoEmoji-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Emoji';
    src: url('static/NotoEmoji-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Apply Noto Emoji as fallback for emoji */
/* body {
    font-family: 'Noto Emoji', sans-serif;
} */

.emoji_text {
    font-family: 'Noto Emoji', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
