p {
    background-color: AliceBlue;
    color: rgba(240, 248, 255, 0.5);
    background-color: AntiqueWhite;
    color: rgba(250, 235, 215, 0.5);
    background-color: AntiqueWhite1;
    color: rgba(255, 239, 219, 0.5);
    background-color: AntiqueWhite2;
    color: rgba(238, 223, 204, 0.5);
    background-color: AntiqueWhite3;
    color: rgba(205, 192, 176, 0.5);
    background-color: AntiqueWhite4;
    color: rgba(139, 131, 120, 0.5);
    background-color: Aqua;
    color: rgba(0, 255, 255, 0.5);
    background-color: Aquamarine;
    color: rgba(127, 255, 212, 0.5);
    background-color: Aquamarine1;
    color: rgba(118, 238, 198, 0.5);
    background-color: Aquamarine2;
    color: rgba(69, 139, 116, 0.5);
    background-color: Azure;
    color: rgba(240, 255, 255, 0.5);
    background-color: Azure1;
    color: rgba(224, 238, 238, 0.5);
    background-color: Azure2;
    color: rgba(193, 205, 205, 0.5);
    background-color: Azure3;
    color: rgba(131, 139, 139, 0.5);
    background-color: Beige;
    color: rgba(245, 245, 220, 0.5);
    background-color: Bisque;
    color: rgba(255, 228, 196, 0.5);
    background-color: Bisque1;
    color: rgba(238, 213, 183, 0.5);
    background-color: Bisque2;
    color: rgba(205, 183, 158, 0.5);
    background-color: Bisque3;
    color: rgba(139, 125, 107, 0.5);
    background-color: Black;
    color: rgba(0, 0, 0, 0.5);
    background-color: BlanchedAlmond;
    color: rgba(255, 235, 205, 0.5);
    background-color: Blue;
    color: rgba(0, 0, 255, 0.5);
    background-color: Blue1;
    color: rgba(0, 0, 238, 0.5);
    background-color: BlueViolet;
    color: rgba(138, 43, 226, 0.5);
    background-color: Brown;
    color: rgba(165, 42, 42, 0.5);
    background-color: Brown1;
    color: rgba(255, 64, 64, 0.5);
    background-color: Brown2;
    color: rgba(238, 59, 59, 0.5);
    background-color: Brown3;
    color: rgba(205, 51, 51, 0.5);
    background-color: Brown4;
    color: rgba(139, 35, 35, 0.5);
    background-color: Burlywood;
    color: rgba(222, 184, 135, 0.5);
    background-color: Burlywood1;
    color: rgba(255, 211, 155, 0.5);
    background-color: Burlywood2;
    color: rgba(238, 197, 145, 0.5);
    background-color: Burlywood3;
    color: rgba(205, 170, 125, 0.5);
    background-color: Burlywood4;
    color: rgba(139, 115, 85, 0.5);
    background-color: CadetBlue;
    color: rgba(95, 158, 160, 0.5);
    background-color: CadetBlue1;
    color: rgba(152, 245, 255, 0.5);
    background-color: CadetBlue2;
    color: rgba(142, 229, 238, 0.5);
    background-color: CadetBlue3;
    color: rgba(122, 197, 205, 0.5);
    background-color: CadetBlue4;
    color: rgba(83, 134, 139, 0.5);
    background-color: Chartreuse;
    color: rgba(127, 255, 0, 0.5);
    background-color: Chartreuse1;
    color: rgba(118, 238, 0, 0.5);
    background-color: Chartreuse2;
    color: rgba(102, 205, 0, 0.5);
    background-color: Chartreuse3;
    color: rgba(69, 139, 0, 0.5);
    background-color: Chocolate;
    color: rgba(210, 105, 30, 0.5);
    background-color: Chocolate1;
    color: rgba(255, 127, 36, 0.5);
    background-color: Chocolate2;
    color: rgba(238, 118, 33, 0.5);
    background-color: Chocolate3;
    color: rgba(205, 102, 29, 0.5);
    background-color: Coral;
    color: rgba(255, 127, 80, 0.5);
    background-color: Coral1;
    color: rgba(255, 114, 86, 0.5);
    background-color: Coral2;
    color: rgba(238, 106, 80, 0.5);
    background-color: Coral3;
    color: rgba(205, 91, 69, 0.5);
    background-color: Coral4;
    color: rgba(139, 62, 47, 0.5);
    background-color: CornflowerBlue;
    color: rgba(100, 149, 237, 0.5);
    background-color: Cornsilk;
    color: rgba(255, 248, 220, 0.5);
    background-color: Cornsilk1;
    color: rgba(238, 232, 205, 0.5);
    background-color: Cornsilk2;
    color: rgba(205, 200, 177, 0.5);
    background-color: Cornsilk3;
    color: rgba(139, 136, 120, 0.5);
    background-color: Crimson;
    color: rgba(220, 20, 60, 0.5);
    background-color: Cyan;
    color: rgba(0, 238, 238, 0.5);
    background-color: Cyan1;
    color: rgba(0, 205, 205, 0.5);
    background-color: DarkBlue;
    color: rgba(0, 0, 139, 0.5);
    background-color: DarkCyan;
    color: rgba(0, 139, 139, 0.5);
    background-color: DarkGoldenrod;
    color: rgba(184, 134, 11, 0.5);
    background-color: DarkGoldenrod1;
    color: rgba(255, 185, 15, 0.5);
    background-color: DarkGoldenrod2;
    color: rgba(238, 173, 14, 0.5);
    background-color: DarkGoldenrod3;
    color: rgba(205, 149, 12, 0.5);
    background-color: DarkGoldenrod4;
    color: rgba(139, 101, 8, 0.5);
    background-color: DarkGreen;
    color: rgba(0, 100, 0, 0.5);
    background-color: DarkGrey;
    color: rgba(169, 169, 169, 0.5);
    background-color: DarkKhaki;
    color: rgba(189, 183, 107, 0.5);
    background-color: DarkMagenta;
    color: rgba(139, 0, 139, 0.5);
    background-color: DarkOliveGreen;
    color: rgba(85, 107, 47, 0.5);
    background-color: DarkOliveGreen1;
    color: rgba(202, 255, 112, 0.5);
    background-color: DarkOliveGreen2;
    color: rgba(188, 238, 104, 0.5);
    background-color: DarkOliveGreen3;
    color: rgba(162, 205, 90, 0.5);
    background-color: DarkOliveGreen4;
    color: rgba(110, 139, 61, 0.5);
    background-color: DarkOrange;
    color: rgba(255, 140, 0, 0.5);
    background-color: DarkOrange1;
    color: rgba(255, 127, 0, 0.5);
    background-color: DarkOrange2;
    color: rgba(238, 118, 0, 0.5);
    background-color: DarkOrange3;
    color: rgba(205, 102, 0, 0.5);
    background-color: DarkOrange4;
    color: rgba(139, 69, 0, 0.5);
    background-color: DarkOrchid;
    color: rgba(153, 50, 204, 0.5);
    background-color: DarkOrchid1;
    color: rgba(191, 62, 255, 0.5);
    background-color: DarkOrchid2;
    color: rgba(178, 58, 238, 0.5);
    background-color: DarkOrchid3;
    color: rgba(154, 50, 205, 0.5);
    background-color: DarkOrchid4;
    color: rgba(104, 34, 139, 0.5);
    background-color: DarkRed;
    color: rgba(139, 0, 0, 0.5);
    background-color: DarkSalmon;
    color: rgba(233, 150, 122, 0.5);
    background-color: DarkSeaGreen;
    color: rgba(143, 188, 143, 0.5);
    background-color: DarkSeaGreen1;
    color: rgba(193, 255, 193, 0.5);
    background-color: DarkSeaGreen2;
    color: rgba(180, 238, 180, 0.5);
    background-color: DarkSeaGreen3;
    color: rgba(155, 205, 155, 0.5);
    background-color: DarkSeaGreen4;
    color: rgba(105, 139, 105, 0.5);
    background-color: DarkSlateBlue;
    color: rgba(72, 61, 139, 0.5);
    background-color: DarkSlateGrey;
    color: rgba(47, 79, 79, 0.5);
    background-color: DarkSlateGrey1;
    color: rgba(151, 255, 255, 0.5);
    background-color: DarkSlateGrey2;
    color: rgba(141, 238, 238, 0.5);
    background-color: DarkSlateGrey3;
    color: rgba(121, 205, 205, 0.5);
    background-color: DarkSlateGrey4;
    color: rgba(82, 139, 139, 0.5);
    background-color: DarkTurquoise;
    color: rgba(0, 206, 209, 0.5);
    background-color: DarkViolet;
    color: rgba(148, 0, 211, 0.5);
    background-color: DeepPink;
    color: rgba(255, 20, 147, 0.5);
    background-color: DeepPink1;
    color: rgba(238, 18, 137, 0.5);
    background-color: DeepPink2;
    color: rgba(205, 16, 118, 0.5);
    background-color: DeepPink3;
    color: rgba(139, 10, 80, 0.5);
    background-color: DeepSkyBlue;
    color: rgba(0, 191, 255, 0.5);
    background-color: DeepSkyBlue1;
    color: rgba(0, 178, 238, 0.5);
    background-color: DeepSkyBlue2;
    color: rgba(0, 154, 205, 0.5);
    background-color: DeepSkyBlue3;
    color: rgba(0, 104, 139, 0.5);
    background-color: DodgerBlue;
    color: rgba(30, 144, 255, 0.5);
    background-color: DodgerBlue1;
    color: rgba(28, 134, 238, 0.5);
    background-color: DodgerBlue2;
    color: rgba(16, 78, 139, 0.5);
    background-color: DodgerBlue3;
    color: rgba(24, 116, 205, 0.5);
    background-color: Firebrick;
    color: rgba(178, 34, 34, 0.5);
    background-color: Firebrick1;
    color: rgba(255, 48, 48, 0.5);
    background-color: Firebrick2;
    color: rgba(238, 44, 44, 0.5);
    background-color: Firebrick3;
    color: rgba(205, 38, 38, 0.5);
    background-color: Firebrick4;
    color: rgba(139, 26, 26, 0.5);
    background-color: FloralWhite;
    color: rgba(255, 250, 240, 0.5);
    background-color: ForestGreen;
    color: rgba(34, 139, 34, 0.5);
    background-color: Fractal;
    color: rgba(128, 128, 128, 0.5);
    background-color: Fuchsia;
    color: rgba(255, 0, 255, 0.5);
    background-color: Gainsboro;
    color: rgba(220, 220, 220, 0.5);
    background-color: GhostWhite;
    color: rgba(248, 248, 255, 0.5);
    background-color: Gold;
    color: rgba(255, 215, 0, 0.5);
    background-color: Gold1;
    color: rgba(238, 201, 0, 0.5);
    background-color: Gold2;
    color: rgba(205, 173, 0, 0.5);
    background-color: Gold3;
    color: rgba(139, 117, 0, 0.5);
    background-color: Goldenrod;
    color: rgba(218, 165, 32, 0.5);
    background-color: Goldenrod1;
    color: rgba(255, 193, 37, 0.5);
    background-color: Goldenrod2;
    color: rgba(238, 180, 34, 0.5);
    background-color: Goldenrod3;
    color: rgba(205, 155, 29, 0.5);
    background-color: Goldenrod4;
    color: rgba(139, 105, 20, 0.5);
    background-color: Grey;
    color: rgba(126, 126, 126, 0.5);
    background-color: Green;
    color: rgba(0, 128, 0, 0.5);
    background-color: Green1;
    color: rgba(0, 238, 0, 0.5);
    background-color: Green2;
    color: rgba(0, 205, 0, 0.5);
    background-color: Green3;
    color: rgba(0, 139, 0, 0.5);
    background-color: GreenYellow;
    color: rgba(173, 255, 47, 0.5);
    background-color: Grey1;
    color: rgba(3, 3, 3, 0.5);
    background-color: Grey10;
    color: rgba(26, 26, 26, 0.5);
    background-color: Grey100;
    color: rgba(255, 255, 255, 0.5);
    background-color: Grey11;
    color: rgba(28, 28, 28, 0.5);
    background-color: Grey12;
    color: rgba(31, 31, 31, 0.5);
    background-color: Grey13;
    color: rgba(33, 33, 33, 0.5);
    background-color: Grey14;
    color: rgba(36, 36, 36, 0.5);
    background-color: Grey15;
    color: rgba(38, 38, 38, 0.5);
    background-color: Grey16;
    color: rgba(41, 41, 41, 0.5);
    background-color: Grey17;
    color: rgba(43, 43, 43, 0.5);
    background-color: Grey18;
    color: rgba(46, 46, 46, 0.5);
    background-color: Grey19;
    color: rgba(48, 48, 48, 0.5);
    background-color: Grey2;
    color: rgba(5, 5, 5, 0.5);
    background-color: Grey20;
    color: rgba(51, 51, 51, 0.5);
    background-color: Grey21;
    color: rgba(54, 54, 54, 0.5);
    background-color: Grey22;
    color: rgba(56, 56, 56, 0.5);
    background-color: Grey23;
    color: rgba(59, 59, 59, 0.5);
    background-color: Grey24;
    color: rgba(61, 61, 61, 0.5);
    background-color: Grey25;
    color: rgba(64, 64, 64, 0.5);
    background-color: Grey26;
    color: rgba(66, 66, 66, 0.5);
    background-color: Grey27;
    color: rgba(69, 69, 69, 0.5);
    background-color: Grey28;
    color: rgba(71, 71, 71, 0.5);
    background-color: Grey29;
    color: rgba(74, 74, 74, 0.5);
    background-color: Grey3;
    color: rgba(8, 8, 8, 0.5);
    background-color: Grey30;
    color: rgba(77, 77, 77, 0.5);
    background-color: Grey31;
    color: rgba(79, 79, 79, 0.5);
    background-color: Grey32;
    color: rgba(82, 82, 82, 0.5);
    background-color: Grey33;
    color: rgba(84, 84, 84, 0.5);
    background-color: Grey34;
    color: rgba(87, 87, 87, 0.5);
    background-color: Grey35;
    color: rgba(89, 89, 89, 0.5);
    background-color: Grey36;
    color: rgba(92, 92, 92, 0.5);
    background-color: Grey37;
    color: rgba(94, 94, 94, 0.5);
    background-color: Grey38;
    color: rgba(97, 97, 97, 0.5);
    background-color: Grey39;
    color: rgba(99, 99, 99, 0.5);
    background-color: Grey4;
    color: rgba(10, 10, 10, 0.5);
    background-color: Grey40;
    color: rgba(102, 102, 102, 0.5);
    background-color: Grey41;
    color: rgba(105, 105, 105, 0.5);
    background-color: Grey42;
    color: rgba(107, 107, 107, 0.5);
    background-color: Grey43;
    color: rgba(110, 110, 110, 0.5);
    background-color: Grey44;
    color: rgba(112, 112, 112, 0.5);
    background-color: Grey45;
    color: rgba(115, 115, 115, 0.5);
    background-color: Grey46;
    color: rgba(117, 117, 117, 0.5);
    background-color: Grey47;
    color: rgba(120, 120, 120, 0.5);
    background-color: Grey48;
    color: rgba(122, 122, 122, 0.5);
    background-color: Grey49;
    color: rgba(125, 125, 125, 0.5);
    background-color: Grey5;
    color: rgba(13, 13, 13, 0.5);
    background-color: Grey50;
    color: rgba(127, 127, 127, 0.5);
    background-color: Grey51;
    color: rgba(130, 130, 130, 0.5);
    background-color: Grey52;
    color: rgba(133, 133, 133, 0.5);
    background-color: Grey53;
    color: rgba(135, 135, 135, 0.5);
    background-color: Grey54;
    color: rgba(138, 138, 138, 0.5);
    background-color: Grey55;
    color: rgba(140, 140, 140, 0.5);
    background-color: Grey56;
    color: rgba(143, 143, 143, 0.5);
    background-color: Grey57;
    color: rgba(145, 145, 145, 0.5);
    background-color: Grey58;
    color: rgba(148, 148, 148, 0.5);
    background-color: Grey59;
    color: rgba(150, 150, 150, 0.5);
    background-color: Grey6;
    color: rgba(15, 15, 15, 0.5);
    background-color: Grey60;
    color: rgba(153, 153, 153, 0.5);
    background-color: Grey61;
    color: rgba(156, 156, 156, 0.5);
    background-color: Grey62;
    color: rgba(158, 158, 158, 0.5);
    background-color: Grey63;
    color: rgba(161, 161, 161, 0.5);
    background-color: Grey64;
    color: rgba(163, 163, 163, 0.5);
    background-color: Grey65;
    color: rgba(166, 166, 166, 0.5);
    background-color: Grey66;
    color: rgba(168, 168, 168, 0.5);
    background-color: Grey67;
    color: rgba(171, 171, 171, 0.5);
    background-color: Grey68;
    color: rgba(173, 173, 173, 0.5);
    background-color: Grey69;
    color: rgba(176, 176, 176, 0.5);
    background-color: Grey7;
    color: rgba(18, 18, 18, 0.5);
    background-color: Grey70;
    color: rgba(179, 179, 179, 0.5);
    background-color: Grey71;
    color: rgba(181, 181, 181, 0.5);
    background-color: Grey72;
    color: rgba(184, 184, 184, 0.5);
    background-color: Grey73;
    color: rgba(186, 186, 186, 0.5);
    background-color: Grey74;
    color: rgba(189, 189, 189, 0.5);
    background-color: Grey75;
    color: rgba(191, 191, 191, 0.5);
    background-color: Grey76;
    color: rgba(194, 194, 194, 0.5);
    background-color: Grey77;
    color: rgba(196, 196, 196, 0.5);
    background-color: Grey78;
    color: rgba(199, 199, 199, 0.5);
    background-color: Grey79;
    color: rgba(201, 201, 201, 0.5);
    background-color: Grey8;
    color: rgba(20, 20, 20, 0.5);
    background-color: Grey80;
    color: rgba(204, 204, 204, 0.5);
    background-color: Grey81;
    color: rgba(207, 207, 207, 0.5);
    background-color: Grey82;
    color: rgba(209, 209, 209, 0.5);
    background-color: Grey83;
    color: rgba(212, 212, 212, 0.5);
    background-color: Grey84;
    color: rgba(214, 214, 214, 0.5);
    background-color: Grey85;
    color: rgba(217, 217, 217, 0.5);
    background-color: Grey86;
    color: rgba(219, 219, 219, 0.5);
    background-color: Grey87;
    color: rgba(222, 222, 222, 0.5);
    background-color: Grey88;
    color: rgba(224, 224, 224, 0.5);
    background-color: Grey89;
    color: rgba(227, 227, 227, 0.5);
    background-color: Grey9;
    color: rgba(23, 23, 23, 0.5);
    background-color: Grey90;
    color: rgba(229, 229, 229, 0.5);
    background-color: Grey91;
    color: rgba(232, 232, 232, 0.5);
    background-color: Grey92;
    color: rgba(235, 235, 235, 0.5);
    background-color: Grey93;
    color: rgba(237, 237, 237, 0.5);
    background-color: Grey94;
    color: rgba(240, 240, 240, 0.5);
    background-color: Grey95;
    color: rgba(242, 242, 242, 0.5);
    background-color: Grey96;
    color: rgba(245, 245, 245, 0.5);
    background-color: Grey97;
    color: rgba(247, 247, 247, 0.5);
    background-color: Grey98;
    color: rgba(250, 250, 250, 0.5);
    background-color: Grey99;
    color: rgba(252, 252, 252, 0.5);
    background-color: Honeydew;
    color: rgba(240, 255, 240, 0.5);
    background-color: Honeydew1;
    color: rgba(224, 238, 224, 0.5);
    background-color: Honeydew2;
    color: rgba(193, 205, 193, 0.5);
    background-color: Honeydew3;
    color: rgba(131, 139, 131, 0.5);
    background-color: HotPink;
    color: rgba(255, 105, 180, 0.5);
    background-color: HotPink1;
    color: rgba(255, 110, 180, 0.5);
    background-color: HotPink2;
    color: rgba(238, 106, 167, 0.5);
    background-color: HotPink3;
    color: rgba(205, 96, 144, 0.5);
    background-color: HotPink4;
    color: rgba(139, 58, 98, 0.5);
    background-color: IndianRed;
    color: rgba(205, 92, 92, 0.5);
    background-color: IndianRed1;
    color: rgba(255, 106, 106, 0.5);
    background-color: IndianRed2;
    color: rgba(238, 99, 99, 0.5);
    background-color: IndianRed3;
    color: rgba(205, 85, 85, 0.5);
    background-color: IndianRed4;
    color: rgba(139, 58, 58, 0.5);
    background-color: Indigo;
    color: rgba(75, 0, 130, 0.5);
    background-color: Ivory;
    color: rgba(255, 255, 240, 0.5);
    background-color: Ivory1;
    color: rgba(238, 238, 224, 0.5);
    background-color: Ivory2;
    color: rgba(205, 205, 193, 0.5);
    background-color: Ivory3;
    color: rgba(139, 139, 131, 0.5);
    background-color: Khaki;
    color: rgba(240, 230, 140, 0.5);
    background-color: Khaki1;
    color: rgba(255, 246, 143, 0.5);
    background-color: Khaki2;
    color: rgba(238, 230, 133, 0.5);
    background-color: Khaki3;
    color: rgba(205, 198, 115, 0.5);
    background-color: Khaki4;
    color: rgba(139, 134, 78, 0.5);
    background-color: Lavender;
    color: rgba(230, 230, 250, 0.5);
    background-color: LavenderBlush;
    color: rgba(255, 240, 245, 0.5);
    background-color: LavenderBlush1;
    color: rgba(238, 224, 229, 0.5);
    background-color: LavenderBlush2;
    color: rgba(205, 193, 197, 0.5);
    background-color: LavenderBlush3;
    color: rgba(139, 131, 134, 0.5);
    background-color: LawnGreen;
    color: rgba(124, 252, 0, 0.5);
    background-color: LemonChiffon;
    color: rgba(255, 250, 205, 0.5);
    background-color: LemonChiffon1;
    color: rgba(238, 233, 191, 0.5);
    background-color: LemonChiffon2;
    color: rgba(205, 201, 165, 0.5);
    background-color: LemonChiffon3;
    color: rgba(139, 137, 112, 0.5);
    background-color: LightBlue;
    color: rgba(173, 216, 230, 0.5);
    background-color: LightBlue1;
    color: rgba(191, 239, 255, 0.5);
    background-color: LightBlue2;
    color: rgba(178, 223, 238, 0.5);
    background-color: LightBlue3;
    color: rgba(154, 192, 205, 0.5);
    background-color: LightBlue4;
    color: rgba(104, 131, 139, 0.5);
    background-color: LightCoral;
    color: rgba(240, 128, 128, 0.5);
    background-color: LightCyan;
    color: rgba(224, 255, 255, 0.5);
    background-color: LightCyan1;
    color: rgba(209, 238, 238, 0.5);
    background-color: LightCyan2;
    color: rgba(180, 205, 205, 0.5);
    background-color: LightCyan3;
    color: rgba(122, 139, 139, 0.5);
    background-color: LightGoldenrod;
    color: rgba(238, 221, 130, 0.5);
    background-color: LightGoldenrod1;
    color: rgba(255, 236, 139, 0.5);
    background-color: LightGoldenrod2;
    color: rgba(238, 220, 130, 0.5);
    background-color: LightGoldenrod3;
    color: rgba(205, 190, 112, 0.5);
    background-color: LightGoldenrod4;
    color: rgba(139, 129, 76, 0.5);
    background-color: LightGoldenrodYellow;
    color: rgba(250, 250, 210, 0.5);
    background-color: LightGreen;
    color: rgba(144, 238, 144, 0.5);
    background-color: LightGrey;
    color: rgba(211, 211, 211, 0.5);
    background-color: LightPink;
    color: rgba(255, 182, 193, 0.5);
    background-color: LightPink1;
    color: rgba(255, 174, 185, 0.5);
    background-color: LightPink2;
    color: rgba(238, 162, 173, 0.5);
    background-color: LightPink3;
    color: rgba(205, 140, 149, 0.5);
    background-color: LightPink4;
    color: rgba(139, 95, 101, 0.5);
    background-color: LightSalmon;
    color: rgba(255, 160, 122, 0.5);
    background-color: LightSalmon1;
    color: rgba(238, 149, 114, 0.5);
    background-color: LightSalmon2;
    color: rgba(205, 129, 98, 0.5);
    background-color: LightSalmon3;
    color: rgba(139, 87, 66, 0.5);
    background-color: LightSeaGreen;
    color: rgba(32, 178, 170, 0.5);
    background-color: LightSkyBlue;
    color: rgba(135, 206, 250, 0.5);
    background-color: LightSkyBlue1;
    color: rgba(176, 226, 255, 0.5);
    background-color: LightSkyBlue2;
    color: rgba(164, 211, 238, 0.5);
    background-color: LightSkyBlue3;
    color: rgba(141, 182, 205, 0.5);
    background-color: LightSkyBlue4;
    color: rgba(96, 123, 139, 0.5);
    background-color: LightSlateBlue;
    color: rgba(132, 112, 255, 0.5);
    background-color: LightSlateGrey;
    color: rgba(119, 136, 153, 0.5);
    background-color: LightSteelBlue;
    color: rgba(176, 196, 222, 0.5);
    background-color: LightSteelBlue1;
    color: rgba(202, 225, 255, 0.5);
    background-color: LightSteelBlue2;
    color: rgba(188, 210, 238, 0.5);
    background-color: LightSteelBlue3;
    color: rgba(162, 181, 205, 0.5);
    background-color: LightSteelBlue4;
    color: rgba(110, 123, 139, 0.5);
    background-color: LightYellow;
    color: rgba(255, 255, 224, 0.5);
    background-color: LightYellow1;
    color: rgba(238, 238, 209, 0.5);
    background-color: LightYellow2;
    color: rgba(205, 205, 180, 0.5);
    background-color: LightYellow3;
    color: rgba(139, 139, 122, 0.5);
    background-color: Lime;
    color: rgba(0, 255, 0, 0.5);
    background-color: LimeGreen;
    color: rgba(50, 205, 50, 0.5);
    background-color: Linen;
    color: rgba(250, 240, 230, 0.5);
    background-color: Magenta=Colour(255, 0, 255, 0.5);
    background-color: Magenta2;
    color: rgba(238, 0, 238, 0.5);
    background-color: Magenta3;
    color: rgba(205, 0, 205, 0.5);
    background-color: Maroon;
    color: rgba(128, 0, 0, 0.5);
    background-color: Maroon1;
    color: rgba(255, 52, 179, 0.5);
    background-color: Maroon2;
    color: rgba(238, 48, 167, 0.5);
    background-color: Maroon3;
    color: rgba(205, 41, 144, 0.5);
    background-color: Maroon4;
    color: rgba(139, 28, 98, 0.5);
    background-color: Maroon5;
    color: rgba(176, 48, 96, 0.5);
    background-color: MediumAquamarine;
    color: rgba(102, 205, 170, 0.5);
    background-color: MediumBlue;
    color: rgba(0, 0, 205, 0.5);
    background-color: MediumForestGreen;
    color: rgba(50, 129, 75, 0.5);
    background-color: MediumGoldenRod;
    color: rgba(209, 193, 102, 0.5);
    background-color: MediumOrchid;
    color: rgba(186, 85, 211, 0.5);
    background-color: MediumOrchid1;
    color: rgba(224, 102, 255, 0.5);
    background-color: MediumOrchid2;
    color: rgba(209, 95, 238, 0.5);
    background-color: MediumOrchid3;
    color: rgba(180, 82, 205, 0.5);
    background-color: MediumOrchid4;
    color: rgba(122, 55, 139, 0.5);
    background-color: MediumPurple;
    color: rgba(147, 112, 219, 0.5);
    background-color: MediumPurple1;
    color: rgba(171, 130, 255, 0.5);
    background-color: MediumPurple2;
    color: rgba(159, 121, 238, 0.5);
    background-color: MediumPurple3;
    color: rgba(137, 104, 205, 0.5);
    background-color: MediumPurple4;
    color: rgba(93, 71, 139, 0.5);
    background-color: MediumSeaGreen;
    color: rgba(60, 179, 113, 0.5);
    background-color: MediumSlateBlue;
    color: rgba(123, 104, 238, 0.5);
    background-color: MediumSpringGreen;
    color: rgba(0, 250, 154, 0.5);
    background-color: MediumTurquoise;
    color: rgba(72, 209, 204, 0.5);
    background-color: MediumVioletRed;
    color: rgba(199, 21, 133, 0.5);
    background-color: MidnightBlue;
    color: rgba(25, 25, 112, 0.5);
    background-color: MintCream;
    color: rgba(245, 255, 250, 0.5);
    background-color: MistyRose;
    color: rgba(255, 228, 225, 0.5);
    background-color: MistyRose1;
    color: rgba(238, 213, 210, 0.5);
    background-color: MistyRose2;
    color: rgba(139, 125, 123, 0.5);
    background-color: MistyRose3;
    color: rgba(205, 183, 181, 0.5);
    background-color: Moccasin;
    color: rgba(255, 228, 181, 0.5);
    background-color: NavajoWhite;
    color: rgba(255, 222, 173, 0.5);
    background-color: NavajoWhite1;
    color: rgba(238, 207, 161, 0.5);
    background-color: NavajoWhite2;
    color: rgba(205, 179, 139, 0.5);
    background-color: NavajoWhite3;
    color: rgba(139, 121, 94, 0.5);
    background-color: NavyBlue;
    color: rgba(0, 0, 128, 0.5);
    background-color: OldLace;
    color: rgba(253, 245, 230, 0.5);
    background-color: Olive;
    color: rgba(128, 128, 0, 0.5);
    background-color: OliveDrab;
    color: rgba(107, 142, 35, 0.5);
    background-color: OliveDrab1;
    color: rgba(192, 255, 62, 0.5);
    background-color: OliveDrab2;
    color: rgba(179, 238, 58, 0.5);
    background-color: OliveDrab3;
    color: rgba(105, 139, 34, 0.5);
    background-color: Orange;
    color: rgba(255, 165, 0, 0.5);
    background-color: Orange1;
    color: rgba(238, 154, 0, 0.5);
    background-color: Orange2;
    color: rgba(205, 133, 0, 0.5);
    background-color: Orange3;
    color: rgba(139, 90, 0, 0.5);
    background-color: OrangeRed;
    color: rgba(255, 69, 0, 0.5);
    background-color: OrangeRed1;
    color: rgba(238, 64, 0, 0.5);
    background-color: OrangeRed2;
    color: rgba(205, 55, 0, 0.5);
    background-color: OrangeRed3;
    color: rgba(139, 37, 0, 0.5);
    background-color: Orchid;
    color: rgba(218, 112, 214, 0.5);
    background-color: Orchid1;
    color: rgba(255, 131, 250, 0.5);
    background-color: Orchid2;
    color: rgba(238, 122, 233, 0.5);
    background-color: Orchid3;
    color: rgba(205, 105, 201, 0.5);
    background-color: Orchid4;
    color: rgba(139, 71, 137, 0.5);
    background-color: PaleGoldenrod;
    color: rgba(238, 232, 170, 0.5);
    background-color: PaleGreen;
    color: rgba(152, 251, 152, 0.5);
    background-color: PaleGreen1;
    color: rgba(154, 255, 154, 0.5);
    background-color: PaleGreen2;
    color: rgba(124, 205, 124, 0.5);
    background-color: PaleGreen3;
    color: rgba(84, 139, 84, 0.5);
    background-color: PaleTurquoise;
    color: rgba(175, 238, 238, 0.5);
    background-color: PaleTurquoise1;
    color: rgba(187, 255, 255, 0.5);
    background-color: PaleTurquoise2;
    color: rgba(174, 238, 238, 0.5);
    background-color: PaleTurquoise3;
    color: rgba(150, 205, 205, 0.5);
    background-color: PaleTurquoise4;
    color: rgba(102, 139, 139, 0.5);
    background-color: PaleVioletRed;
    color: rgba(219, 112, 147, 0.5);
    background-color: PaleVioletRed1;
    color: rgba(255, 130, 171, 0.5);
    background-color: PaleVioletRed2;
    color: rgba(238, 121, 159, 0.5);
    background-color: PaleVioletRed3;
    color: rgba(205, 104, 137, 0.5);
    background-color: PaleVioletRed4;
    color: rgba(139, 71, 93, 0.5);
    background-color: PapayaWhip;
    color: rgba(255, 239, 213, 0.5);
    background-color: PeachPuff;
    color: rgba(255, 218, 185, 0.5);
    background-color: PeachPuff1;
    color: rgba(139, 119, 101, 0.5);
    background-color: PeachPuff2;
    color: rgba(238, 203, 173, 0.5);
    background-color: PeachPuff3;
    color: rgba(205, 175, 149, 0.5);
    background-color: Peru;
    color: rgba(205, 133, 63, 0.5);
    background-color: Pink;
    color: rgba(255, 192, 203, 0.5);
    background-color: Pink1;
    color: rgba(255, 181, 197, 0.5);
    background-color: Pink2;
    color: rgba(238, 169, 184, 0.5);
    background-color: Pink3;
    color: rgba(205, 145, 158, 0.5);
    background-color: Pink4;
    color: rgba(139, 99, 108, 0.5);
    background-color: Plum;
    color: rgba(221, 160, 221, 0.5);
    background-color: Plum1;
    color: rgba(255, 187, 255, 0.5);
    background-color: Plum2;
    color: rgba(238, 174, 238, 0.5);
    background-color: Plum3;
    color: rgba(205, 150, 205, 0.5);
    background-color: Plum4;
    color: rgba(139, 102, 139, 0.5);
    background-color: PowderBlue;
    color: rgba(176, 224, 230, 0.5);
    background-color: Purple;
    color: rgba(128, 0, 128, 0.5);
    background-color: Purple1;
    color: rgba(155, 48, 255, 0.5);
    background-color: Purple2;
    color: rgba(145, 44, 238, 0.5);
    background-color: Purple3;
    color: rgba(125, 38, 205, 0.5);
    background-color: Purple4;
    color: rgba(85, 26, 139, 0.5);
    background-color: Purple5;
    color: rgba(160, 32, 240, 0.5);
    background-color: Red;
    color: rgba(255, 0, 0, 0.5);
    background-color: Red2;
    color: rgba(238, 0, 0, 0.5);
    background-color: Red3;
    color: rgba(205, 0, 0, 0.5);
    background-color: RosyBrown;
    color: rgba(188, 143, 143, 0.5);
    background-color: RosyBrown1;
    color: rgba(255, 193, 193, 0.5);
    background-color: RosyBrown2;
    color: rgba(238, 180, 180, 0.5);
    background-color: RosyBrown3;
    color: rgba(205, 155, 155, 0.5);
    background-color: RosyBrown4;
    color: rgba(139, 105, 105, 0.5);
    background-color: RoyalBlue;
    color: rgba(65, 105, 225, 0.5);
    background-color: RoyalBlue1;
    color: rgba(72, 118, 255, 0.5);
    background-color: RoyalBlue2;
    color: rgba(67, 110, 238, 0.5);
    background-color: RoyalBlue3;
    color: rgba(58, 95, 205, 0.5);
    background-color: RoyalBlue4;
    color: rgba(39, 64, 139, 0.5);
    background-color: SaddleBrown;
    color: rgba(139, 69, 19, 0.5);
    background-color: Salmon;
    color: rgba(250, 128, 114, 0.5);
    background-color: Salmon1;
    color: rgba(255, 140, 105, 0.5);
    background-color: Salmon2;
    color: rgba(238, 130, 98, 0.5);
    background-color: Salmon3;
    color: rgba(205, 112, 84, 0.5);
    background-color: Salmon4;
    color: rgba(139, 76, 57, 0.5);
    background-color: SandyBrown;
    color: rgba(244, 164, 96, 0.5);
    background-color: SeaGreen;
    color: rgba(46, 139, 87, 0.5);
    background-color: SeaGreen1;
    color: rgba(84, 255, 159, 0.5);
    background-color: SeaGreen2;
    color: rgba(78, 238, 148, 0.5);
    background-color: SeaGreen3;
    color: rgba(67, 205, 128, 0.5);
    background-color: Seashell;
    color: rgba(255, 245, 238, 0.5);
    background-color: Seashell1;
    color: rgba(238, 229, 222, 0.5);
    background-color: Seashell2;
    color: rgba(205, 197, 191, 0.5);
    background-color: Seashell3;
    color: rgba(139, 134, 130, 0.5);
    background-color: Sienna;
    color: rgba(160, 82, 45, 0.5);
    background-color: Sienna1;
    color: rgba(255, 130, 71, 0.5);
    background-color: Sienna2;
    color: rgba(238, 121, 66, 0.5);
    background-color: Sienna3;
    color: rgba(205, 104, 57, 0.5);
    background-color: Sienna4;
    color: rgba(139, 71, 38, 0.5);
    background-color: Silver;
    color: rgba(192, 192, 192, 0.5);
    background-color: SkyBlue;
    color: rgba(135, 206, 235, 0.5);
    background-color: SkyBlue1;
    color: rgba(135, 206, 255, 0.5);
    background-color: SkyBlue2;
    color: rgba(126, 192, 238, 0.5);
    background-color: SkyBlue3;
    color: rgba(108, 166, 205, 0.5);
    background-color: SkyBlue4;
    color: rgba(74, 112, 139, 0.5);
    background-color: SlateBlue;
    color: rgba(106, 90, 205, 0.5);
    background-color: SlateBlue1;
    color: rgba(131, 111, 255, 0.5);
    background-color: SlateBlue2;
    color: rgba(122, 103, 238, 0.5);
    background-color: SlateBlue3;
    color: rgba(105, 89, 205, 0.5);
    background-color: SlateBlue4;
    color: rgba(71, 60, 139, 0.5);
    background-color: SlateGray;
    color: rgba(112, 128, 144, 0.5);
    background-color: SlateGray1;
    color: rgba(198, 226, 255, 0.5);
    background-color: SlateGray2;
    color: rgba(185, 211, 238, 0.5);
    background-color: SlateGray3;
    color: rgba(159, 182, 205, 0.5);
    background-color: SlateGray4;
    color: rgba(108, 123, 139, 0.5);
    background-color: Snow;
    color: rgba(255, 250, 250, 0.5);
    background-color: Snow1;
    color: rgba(238, 233, 233, 0.5);
    background-color: Snow3;
    color: rgba(205, 201, 201, 0.5);
    background-color: Snow4;
    color: rgba(139, 137, 137, 0.5);
    background-color: SpringGreen;
    color: rgba(0, 255, 127, 0.5);
    background-color: SpringGreen1;
    color: rgba(0, 238, 118, 0.5);
    background-color: SpringGreen2;
    color: rgba(0, 205, 102, 0.5);
    background-color: SpringGreen3;
    color: rgba(0, 139, 69, 0.5);
    background-color: SteelBlue;
    color: rgba(70, 130, 180, 0.5);
    background-color: SteelBlue1;
    color: rgba(99, 184, 255, 0.5);
    background-color: SteelBlue2;
    color: rgba(92, 172, 238, 0.5);
    background-color: SteelBlue3;
    color: rgba(79, 148, 205, 0.5);
    background-color: SteelBlue4;
    color: rgba(54, 100, 139, 0.5);
    background-color: Tan;
    color: rgba(210, 180, 140, 0.5);
    background-color: Tan1;
    color: rgba(255, 165, 79, 0.5);
    background-color: Tan2;
    color: rgba(238, 154, 73, 0.5);
    background-color: Tan3;
    color: rgba(139, 90, 43, 0.5);
    background-color: Teal;
    color: rgba(0, 128, 128, 0.5);
    background-color: Thistle;
    color: rgba(216, 191, 216, 0.5);
    background-color: Thistle1;
    color: rgba(255, 225, 255, 0.5);
    background-color: Thistle2;
    color: rgba(238, 210, 238, 0.5);
    background-color: Thistle3;
    color: rgba(205, 181, 205, 0.5);
    background-color: Thistle4;
    color: rgba(139, 123, 139, 0.5);
    background-color: Tomato;
    color: rgba(255, 99, 71, 0.5);
    background-color: Tomato1;
    color: rgba(238, 92, 66, 0.5);
    background-color: Tomato2;
    color: rgba(205, 79, 57, 0.5);
    background-color: Tomato3;
    color: rgba(139, 54, 38, 0.5);
    background-color: Transparent;
    color: rgba(0, 0, 0, 0);
    background-color: Turquoise;
    color: rgba(64, 224, 208, 0.5);
    background-color: Turquoise1;
    color: rgba(0, 245, 255, 0.5);
    background-color: Turquoise2;
    color: rgba(0, 229, 238, 0.5);
    background-color: Turquoise3;
    color: rgba(0, 197, 205, 0.5);
    background-color: Turquoise4;
    color: rgba(0, 134, 139, 0.5);
    background-color: Violet;
    color: rgba(238, 130, 238, 0.5);
    background-color: VioletRed;
    color: rgba(208, 32, 144, 0.5);
    background-color: VioletRed1;
    color: rgba(255, 62, 150, 0.5);
    background-color: VioletRed2;
    color: rgba(238, 58, 140, 0.5);
    background-color: VioletRed3;
    color: rgba(205, 50, 120, 0.5);
    background-color: VioletRed4;
    color: rgba(139, 34, 82, 0.5);
    background-color: Wheat;
    color: rgba(245, 222, 179, 0.5);
    background-color: Wheat1;
    color: rgba(255, 231, 186, 0.5);
    background-color: Wheat2;
    color: rgba(238, 216, 174, 0.5);
    background-color: Wheat3;
    color: rgba(205, 186, 150, 0.5);
    background-color: Wheat4;
    color: rgba(139, 126, 102, 0.5);
    background-color: White;
    color: rgba(0, 0, 0, 255);
    background-color: WhiteSmoke;
    color: rgba(245, 245, 245, 0.5);
    background-color: Yellow;
    color: rgba(255, 255, 0, 0.5);
    background-color: Yellow1;
    color: rgba(238, 238, 0, 0.5);
    background-color: Yellow2;
    color: rgba(205, 205, 0, 0.5);
    background-color: Yellow3;
    color: rgba(139, 139, 0, 0.5);
    background-color: YellowGreen;
    color: rgba(154, 205, 50, 0.5);
}
